@import "tailwindcss";

@theme {
  --color-purple: #c70d66;
  --color-purple-light: #ce4085;
  --color-green: #33cc95;
  --color-green-light: #44cc9a;
  --color-red: #e52e4d;
  --color-text-title: #363f5f;
  --color-text-body: #969cb3;
  --color-shape: #ffffff;
  --color-background: #e8e8eb;
  --color-input-bg: #e7e9ee;
  --color-input-border: #d7d7d7;
  --color-green-highlight: #33cc9533;
  --color-red-highlight: #e52e4d33;
  --color-overlay: #00000080;
}

body {
  background-color: #e8e8eb;
  color: #171717;
  font-family: "Poppins", sans-serif;
}
